$card-radius: 12px;

$dark-bg: #1D1D1D;
$dark-card: #262626;
$dark-card-border: #4D4D4D;
$dark-card-hover: #2F2F2F;
$dark-color-primary: #FA7272;
$dark-color-secondary: #FFFFFF;
$dark-font-color-primary: #FFFFFF;
$dark-font-color-secondary: #2D2D2D;
$dark-drawer-gradient-start: rgba(30, 30, 30, 0.8);
$dark-drawer-gradient-end: #262626;
$dark-skeleton-gradient-start: #262626;
$dark-skeleton-gradient-middle: #444444;
$dark-skeleton-gradient-end: #262626;

$light-bg: #F5F5F5;
$light-card: #FFFFFF;
$light-card-border: #E0E0E0;
$light-card-hover: #E0E0E0;
$light-color-primary: #FA7272;
$light-color-secondary: #E0E0E0;
$light-font-color-primary: #333333;
$light-font-color-secondary: #555555;
$light-drawer-gradient-start: rgba(240, 240, 240, 0.8);
$light-drawer-gradient-end: #FFFFFF;
$light-skeleton-gradient-start: #D0D0D0;
$light-skeleton-gradient-middle: #B0B0B0;
$light-skeleton-gradient-end: #E0E0E0;
